/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-body {
    padding: 20px;
}

h1, h2 {
    font-weight: 600;
}

#graph-container {
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Lists */
.list-group-item {
    font-size: 0.9rem;
}